{
  "parser": "babel-eslint",
 
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "amd": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "prefer-const": "error",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "linebreak-style": [2, "windows"],
    "operator-linebreak": "off",
    "indent": [2, 2]
  },
  "extends": ["eslint:recommended", "google"]
  
}
